<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>

    <link rel="stylesheet" href="/dist/main.css" />
    <link rel="stylesheet" href="/css/trix.css" />
  </head>
  <body>
    <div class="nombre-sitio">
      <div class="container flex-between">
        <h1>
          <a href="/">devJobs</a>
        </h1>

        {{!-- {{#if bar}} --}}
          <div class="buscador">
            <form action="#">
              <input type="text" class="buscar" />
              <button type="submit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-search"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                  ></path>
                </svg></button>
            </form>
          </div>

        {{!-- {{/if}} --}}

        <div class="auth-menu">
          {{#if isAuthenticated}}
             
            <a href="/dashboard">Administración</a>
            <a href="/cerrar-sesion">Cerrar Sesion</a>
          {{else}}
            <a href="/iniciar-sesion">Login</a>
            <a href="/crear-cuenta">Registrarme</a>
          {{/if}}
        </div>

      </div>
    </div>

    

    <div class="contenido-principal">
      {{#if messages}}
        <div class="alertas">
          {{#showAlerts messages}}{{/showAlerts}}
        </div>
      {{/if}}
      {{{body}}}
    </div>

    <script src="/js/trix.js"></script>
    <script src="/dist//bundle.js"></script>
  </body>
</html>